@model Ajit_Bakery.Models.ProductionCapture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductionCapture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutletName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutletName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
