@using System.Security.Claims;
@using Newtonsoft.Json

@{
    var menubar = User.Claims.FirstOrDefault(a => a.Type == "Menu").Value;
    var userName = User.Identity.Name.ToUpper();
    var userRole = User.FindFirstValue(ClaimTypes.Role);

    // var unitNameClaim = ViewBag.UnitName;
    // var plantNameClaim = ViewBag.PlantName;
}
<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="../dashboard/index.html" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="../assets/images/logo-white.svg" alt="logo image" class="logo-lg" />
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                @*   <li class="pc-item pc-caption">
                <label>Navigation</label>
                </li> *@
                @* <li class="pc-item">
                <a class="pc-link" asp-controller="Home" asp-action="Index">
                <span class="pc-micon">
                <i class="ph ph-gauge"></i>
                </span><span class="pc-mtext" >Dashboard</span>
                </a>
                </li>
                *@
                <li class="pc-item">
                    <a class="pc-link" asp-controller="Home" asp-action="Index">
                        <span class="pc-micon">
                            <i class="ph ph-chart-line-up"></i> <!-- Modern Dashboard Icon -->
                        </span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>

                <li class="pc-item pc-caption">
                    <label>Menus</label>
                    <i class="ph ph-suitcase"></i>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"> <i class="fa fa-database"></i> </span><span class="pc-mtext">Masters</span><span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" asp-controller="ProductMasters" asp-action="Index">Product Master</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="DialMasters" asp-action="Index">Dial Master</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="BoxMasters" asp-action="Index">Box Master</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="OutletMasters" asp-action="Index">Outlet Master</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="TransportMasters" asp-action="Index">Transport Master</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="UserManagments" asp-action="Index">User Managments</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="UserMasters" asp-action="Index">User Master</a></li>

                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"> <i class="fa fa-cogs"></i> </span><span class="pc-mtext">Operations</span><span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" asp-controller="ProductionCaptures" asp-action="Index">Production Capture</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="SaveProductions" asp-action="Index">Save Production </a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="Packagings" asp-action="Index">Packaging</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="TransferToDispatches" asp-action="Index">Transfer To Dispatch</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="Dispatches" asp-action="Index">Dispatch Process</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>
<!-- [ Sidebar Menu ] end -->
@*                         @if (!string.IsNullOrEmpty(menubar))
                        {
                            var menuData = JsonConvert.DeserializeObject<List<MenuModel>>(menubar);
                            if (menuData != null && menuData.Any())
                            {
                                @foreach (var item in menuData.Where(s => s.ParentMenuId == 0).GroupBy(Obj => new
                                {
                                    Obj.MenuId
                                }).Distinct().ToList())
                                {
                                    <li class="sidebar-item has-sub">
                                        <a href="#" class='sidebar-link'>
                                            <i class="@item.FirstOrDefault().icon"></i>
                                            <b><span>@item.FirstOrDefault().Title</span></b>
                                        </a>
                                        <ul class="submenu m-0 p-0">
                                            @foreach (var firstItem in (menuData.Where(s => s.ParentMenuId == item.FirstOrDefault().MenuId).ToList()))
                                            {

                                                <li class="submenu-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="@firstItem.Controller" asp-action="@firstItem.Action">@firstItem.Title </a>
                                                </li>

                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
 *@



@*  <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                Level 2.2<span class="pc-arrow">
                                    <i data-feather="chevron-right"></i>
                                </span>
                            </a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                                <li class="pc-item pc-hasmenu">
                                    <a href="#!" class="pc-link">
                                        Level 3.3<span class="pc-arrow">
                                            <i data-feather="chevron-right"></i>
                                        </span>
                                    </a>
                                    <ul class="pc-submenu">
                                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> *@
