@model Ajit_Bakery.Models.BoxMaster

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">
    <div class="card shadow-sm mt-3">
        <div class="card-header bg-dark text-white py-2">
            <div class="d-flex align-items-baseline">
                <a asp-action="Index" asp-controller="BoxMasters" class="btn btn-link text-white"><i class="fa fa-arrow-left"></i></a>
                <h5 class="mx-auto text-white text-2xl font-semibold"> Box Master - Detailes</h5>
            </div>
        </div>
        <div class="card-body p-5">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BoxNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BoxNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BoxUom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BoxUom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.area)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.area)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User)
                </dd>
            </dl>

        </div>
    </div>
</div>






