@model IEnumerable<Ajit_Bakery.Models.ProductMaster>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="card shadow-sm mt-3">
        <div class="card-header bg-dark text-white py-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0 font-weight-bold small text-center">Product Master</h5>
                <a asp-action="Create" class="btn btn-success btn-sm text-white">
                    <i class="fas fa-plus-square"></i> Add
                </a>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm" id="dataTable">
                    <thead class="thead-light  text-center">
                        <tr class="text-center small">
                            <th>Sr.No.</th>
                            <th>Product Name</th>
                            <th>Qty</th>
                            <th>Unit Qty</th>
                            <th>UOM</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="small text-center">
                        @{
                            int counter = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@counter</td>
                                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                                <td>@Html.DisplayFor(modelItem => item.Unitqty)</td>
                                <td>@Html.DisplayFor(modelItem => item.Uom)</td>
                                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                @* <td class="text-center">
                                    <span class="badge @GetStatusBadgeClass(item.status)">
                                        @item.status
                                    </span>
                                </td> *@
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success" title="Edit">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning" title="Details">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



