@model Ajit_Bakery.Models.Packaging

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Packaging</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outlet_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outlet_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Box_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Box_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNetWg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNetWg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNetWg_Uom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNetWg_Uom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Dt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Dt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exp_Dt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exp_Dt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reciept_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reciept_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
