@model Ajit_Bakery.Models.UserManagment
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


   <div class="containeratio col-md-12">
            <div class="card-header bg-dark text-white">
                <div class="d-flex align-items-baseline p-2">
                    <h5 class="mx-auto font-weight-bolder">User Management Page</h5>
                    <a asp-action="Index" class="btn btn-success text-white btn-sm"><i class="fa fa-reply"></i> Back</a>
                </div>
            </div>

            @*<h4>UserManagement</h4>*@
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"><b>Username</b></label>
                                <input asp-for="UserName" class="form-control text-lowercase" style=" width: 480px;" readonly />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Role" class="control-label"><b>Role</b></label>
                                <select asp-for="Role" id="role" asp-items="@ViewBag.role" onchange="role()" class="form-control" style="width: 480px;"></select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="PageName" class="control-label"><b>Page Access</b></label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PageName" class="control-label"><b>Admin</b></label>
                                <select id="demo" multiple class="form-control selectdrop"  asp-for="selectedpages" asp-items="@ViewBag.MainMenu" name="mainmenu" multiselect-select-all="true">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PageName" class="control-label"><b>Masters</b></label>
                        <select id="demo1" multiple class="form-control selectdrop" asp-for="selectedpages" asp-items="@ViewBag.SubMenu" name="submenu" multiselect-select-all="true">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PageName" class="control-label"><b>Operation</b></label>
                        <select id="demo2" multiple class="form-control selectdrop" asp-for="selectedpages" asp-items="@ViewBag.OprationMenu" name="oprationmenu" multiselect-select-all="true">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PageName" class="control-label"><b>Marketing</b></label>
                        <select id="demo4" multiple class="form-control selectdrop" asp-items="@ViewBag.WmarketingMenu" asp-for="selectedpages" name="marketingmenu" multiselect-select-all="true">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PageName" class="control-label"><b>Report</b></label>
                        <select id="demo3" multiple class="form-control selectdrop" asp-for="selectedpages" asp-items="@ViewBag.reportmenu" name="reportmenu" multiselect-select-all="true">
                                </select>
                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-primary btn-sm col-md-12" />
                        </div>
                    </div>
                    <br />

                </form>
            </div>
            @*card end*@
        </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {


            // $('#demo').select2({
            //     placeholder: "--Select--",
            //     allowClear: true,
            //     width: '100%'
            // });
        });

    </script>
}