@model Ajit_Bakery.Models.DialMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DialMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialShape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialShape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialWg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialWg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialWgUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialWgUom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialUom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modifiedtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modifiedtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
